// UTILITIES
.is-h-centered
  display: flex
  justify-content: center

.is-v-centered
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.is-full-height
  height: 100vh
  width: 100vw

.has-text-centered
  text-align: center !important

.is-flex
  display: flex

.capitalize
  text-transform: capitalize  !important

.is-white
  color: white !important

.is-rounded-circle, .v-avatar
  border-radius: 100%
  // text-indent: -9999px
  display: inline-block !important
  // background-image: url(Error.src) !important

.m0
  margin: 0px !important

.p0
  padding: 0px !important

.p5
  padding: 5px !important

.p10
  padding: 10px !important

.p20
  padding: 20px !important

// .headline
//   padding: 30px 5px 0px 35px

.mt-20
  margin-top: 20px

.mt-10
  margin-top: 10px

.h20
  height: 20px

.h480
  height: 480px



// fonts
.fw400
  font-weight: 400 !important

.fw900
  font-weight: 900 !important

.f120
  font-size: 35px !important

.text-center
  text-align: center

.is-white
  color: white

.is-h-centered
  display: flex
  align-items: center
  justify-content: center

.reset-panel
  font-size: 12px !important
  display: flex
  justify-content: center


  // Override vuetify

.headline
  font-size: 20px !important

// .theme--dark .v-stepper,
// .application .theme--dark.v-stepper ,
// .theme--dark .v-card,
//   background: #303030 !important

.theme--dark .v-card, .application .theme--dark.v-card,
.theme--dark .v-table, .application .theme--dark.v-table,
.theme--dark .v-datatable .v-datatable__actions, .application .theme--dark.v-datatable .v-datatable__actions,
.theme--dark .detail .v-list
   background: #383838 !important

.v-text-field .v-label
  font-size: 14px !important

.v-stepper__step
  cursor: pointer !important

.v-breadcrumbs__item
  color: #d0d0d0 !important

.v-avatar img
  display: inline-block !important
  background: lightgrey

.theme--dark .v-navigation-drawer, .application .theme--dark.v-navigation-drawer
  background-color: #191919 !important
  border-right: 1px solid #ffffff1f

.theme--dark .card-gradient
  // background: linear-gradient(to bottom, #2b2b2b, #424242)

// table td, table th
//   text-align: left
//   vertical-align: middle !important


// Override ElementUI
.el-select-dropdown
	border-color: #333333 !important

.el-select-dropdown__item.selected,
.el-select-dropdown__list,
.el-select-dropdown__empty
	background-color: #424242 !important

.el-select-dropdown__item
  color: #999 !important

.el-select:hover .el-input__inner,
.el-select .el-input__inner
  border-color: #999 !important

.el-select .el-tag__close.el-icon-close
	background-color: #474747 !important

.el-select__input,
.el-input__inner
  color: #999 !important

.popper__arrow
  border-bottom-color: #333 !important

.el-select .el-tag
	background-color: #202121 !important

.el-select-dropdown__item.selected.hover,
.el-select-dropdown__item:hover,
.el-select-dropdown__item:hover
	background-color: #3e3e3e !important

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover
  background-color: #3e3e3e !important

.el-carousel__item:nth-child(2n)
  // background-color: #99a9bf
  background-color: #000


.el-carousel__item:nth-child(2n+1)
  // background-color: #d3dce6
  background-color: #000


// .theme--dark
.swal2-modal
  background-color: #383838 !important

.swal2-icon.swal2-warning
  border-color: #ffffff !important
  color: #ffffff !important

.swal2-popup .swal2-title,
.swal2-popup .swal2-content
	color: #959595 !important
