// UTILITIES
.is-h-centered
  display: flex
  justify-content: center

.is-full-height
    height: 100vh
    width: 100vw 

.mt-20
  margin-top: 20px



.reset-panel
  font-size: 12px !important
  display: flex
  justify-content: center