// UTILITIES
.is-h-centered
  display: flex
  justify-content: center

.is-full-height
  height: 100vh
  width: 100vw

.is-rounded-circle, .v-avatar
  border-radius: 100%
  // text-indent: -9999px
  display: inline-block !important
  // background-image: url(Error.src) !important

.m0
  margin: 0px !important

.p0
  padding: 0px !important

.p5
  padding: 5px !important

.p10
  padding: 10px !important

.p20
  padding: 20px !important

.headline
  padding: 30px 5px 0px 35px

.mt-20
  margin-top: 20px

.h20
  height: 20px

.h480
  height: 480px



// fonts
.fw400
  font-weight: 400 !important

.fw900
  font-weight: 900 !important

.f120
  font-size: 35px !important

.text-center
  text-align: center

.is-white
  color: white

.reset-panel
  font-size: 12px !important
  display: flex
  justify-content: center


  // Override vuetify

.v-text-field .v-label
  font-size: 14px !important

.v-avatar img
  display: inline-block !important

.theme--dark .v-navigation-drawer, .application .theme--dark.v-navigation-drawer
  background-color: #191919 !important
  border-right: 1px solid #ffffff54

.theme--dark .card-gradient
  background: linear-gradient(to bottom, #2b2b2b, #424242)

// table td, table th
//   text-align: left
//   vertical-align: middle !important
